@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .form{
    @apply flex flex-col gap-y-8 w-[350px] 
    shadow-lg rounded-xl mx-auto my-12 p-6 bg-zinc-300
    dark:bg-zinc-700
  }
  .input{
    @apply h-[35px] rounded-xl outline-none px-4 text-slate-700;
  }
  .text-area{
    @apply h-[40px] rounded-xl outline-none px-4 py-2  text-slate-700;
  }
  .form-btn{
    @apply w-[180px] px-2 py-2 text-sm rounded-3xl bg-emerald-600 text-slate-50;
  }
  .ads-btn{
    @apply px-10 py-2 rounded-3xl text-lg bg-orange-500 text-slate-50;
  }
  .modal-btn{
    @apply w-[100px] px-2 py-2 text-sm rounded-3xl bg-emerald-600 text-slate-50;
  }
}

@font-face {
  font-family: 'vazir';
  src: url('./assets/fonts/Vazir.woff') format('woff');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  margin: 0;
  font-family: vazir;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container{
  width: 100%;
  height: 100%;
  z-index: 0;
}